// ============================ //
//         GRID SETTINGS        //
// ============================ //
$wrapper-width:                100%;   // wrapper width
$xl-container-width:           1440px; // xl container width
$l-container-width:            1140px; // l container width
$gutter-width:                 20px;   // gutter width

$columns:              12;     // number of columns

// Screen size breakpoints for media queries
$l-screen:                     1441px; // max-width for l screens
$m-screen:                     854px;  // max-width for m screens
$m-screen-landscape:           1025px; // max-width for m screens landscape
$s-screen:                     641px;  // max-width for s screens

// ============================ //
//  COLOR
// ============================ //
